<div>
  <div class="android-LinearLayout" style="align-items: center;justify-content: center;height: unset;width: unset;flex-direction: column;padding: 8.0px">
    <img class="id-image android-ImageView" style="height: 200.0px;margin: 8.0px;width: 200.0px"><div class="id-title android-TextView style-Header" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset"></div>
    <div class="id-content android-TextView style-Body" style="color: #ffffffff;height: unset;margin: 8.0px;width: unset"></div>
    <button class="drawable-button_background id-button android-Button style-Button" style="margin: 8.0px;color: #ffffffff;text-align: center;height: unset;width: unset"></button>
  </div>
</div>
