<div>
    <div class="android-FrameLayout" style="height: unset;width: unset">
        <div class="fillViewport android-ScrollView"
             style="height: unset;width: unset;z-index: 0;justify-self: stretch;align-self: stretch">
            <div class="android-LinearLayout"
                 style="background-color: #272727ff;align-items: center;justify-content: center;height: unset;width: unset;flex-direction: column;padding: 8.0px">
                <img class="android-ImageView" src="../drawables/logo_title.svg"
                     style="height: 100.0px;margin: 8.0px;width: 200.0px">
                <div class="android-TextView style-SubHeader"
                     style="color: #ffffffff;text-align: center;height: unset;margin: 8.0px;width: unset;align-self: stretch">
                    Log in with email:
                </div>
                <input class="drawable-textedit_background id-email android-EditText style-TextInput" inputmode="email"
                       placeholder="Email Address"
                       style="color: #ffffffff;text-align: center;height: unset;margin: 8.0px;width: 250.0px"
                       type="text"><input class="drawable-textedit_background id-pin android-EditText style-TextInput"
                                          inputmode="numeric" placeholder="PIN"
                                          style="color: #ffffffff;text-align: center;height: unset;margin: 8.0px;width: 250.0px"
                                          type="text">
                <div class="id-submitWorking android-ViewFlipper" style="height: unset;width: unset;padding: 8.0px">
                    <button class="drawable-button_background id-submitEmail android-Button style-Button"
                            style="margin: 0.0px;color: #ffffffff;text-align: center;height: unset;width: 250.0px;z-index: 0;justify-self: start;align-self: start">
                        Log In
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
