<div>
  <div class="android-FrameLayout" style="height: unset;width: unset">
    <div class="id-content android-SwapView" style="background-color: #272727ff;height: unset;width: unset;z-index: 0;justify-self: stretch;align-self: stretch"></div>
    <div class="android-FrameLayout" style="height: unset;width: unset;z-index: 1;justify-self: start;align-self: start">
      <button class="container id-backButton android-ImageButton" style="height: 42.0px;margin: 8.0px;width: 42.0px;z-index: 0;justify-self: start;align-self: start"><img class="id-backButton-image" src="../drawables/ic_back.svg"></button>
    </div>
    <div class="id-dialog android-SwapView" hidden="true" style="background-color: #272727ff;height: unset;width: unset;display: none;z-index: 2;justify-self: stretch;align-self: stretch"></div>
  </div>
</div>
