<div>
  <div class="android-LinearLayout" style="height: unset;width: unset;flex-direction: column">
    <div class="id-titleBar android-LinearLayout" style="background-color: #133e4cff;justify-content: flex-start;align-items: center;height: unset;width: unset;align-self: stretch">
      <button class="container id-backButton android-ImageButton" style="height: 42.0px;margin: 8.0px;width: 42.0px;align-self: end"><img class="id-backButton-image" src="../drawables/ic_back.svg"></button>
      <div class="id-title android-TextView style-SubHeader" style="color: #ffffffff;height: unset;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px;padding: 8.0px"></div>
    </div>
    <div class="id-session android-SwapView" style="background-color: #272727ff;height: 0.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: unset;align-self: stretch"></div>
    <div class="android-LinearLayout" style="background-color: #133e4cff;justify-content: flex-start;align-items: center;height: unset;width: unset;align-self: stretch">
      <label class="drawable-button_toggle id-homeTab android-ToggleButton style-ButtonTab" style="text-align: center;align-self: stretch"><input checked="true" class="id-homeTab-input" hidden="true" type="checkbox"><span class="compoundDrawable compound-ic_home id-homeTab-label" style="color: #ffffffff;gap: 4.0px;flex-direction: column-reverse">Home</span></label><label class="drawable-button_toggle id-settingsTab android-ToggleButton style-ButtonTab" style="text-align: center;align-self: stretch"><input class="id-settingsTab-input" hidden="true" type="checkbox"><span class="compoundDrawable compound-ic_settings id-settingsTab-label" style="color: #ffffffff;gap: 4.0px;flex-direction: column-reverse">Settings</span></label>
    </div>
  </div>
</div>
