<div>
  <div class="android-LinearLayout" style="height: unset;width: unset;flex-direction: column;padding: 8.0px">
    <div class="android-TextView style-Header" style="color: #ffffffff;text-align: center;height: unset;width: unset;padding: 8.0px;align-self: stretch">Terms of Service</div>
    <div class="android-ScrollView" style="height: 0.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: unset;align-self: stretch">
      <div class="android-TextView style-Body" style="color: #ffffffff;height: unset;width: unset;padding: 8.0px">lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</div>
    </div>
    <label class="id-agree android-CheckBox style-SubHeader" style="height: unset;margin: 8.0px;width: unset;align-self: stretch"><input class="id-agree-input" type="checkbox"><span class="id-agree-label" style="color: #ffffffff">I agree to the terms presented</span></label><button class="drawable-button_background id-submit android-Button style-Button" style="color: #ffffffff;text-align: center;height: unset;width: unset;align-self: stretch">Submit</button>
  </div>
</div>
